* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Artal', sans-serif;
}

body {
    background: #000;
    color: #fff;
    background-image: url("Cac-dong-xe-Mercedes-dang-cap-hien-nay.jpg");
}

.header {
    display: block;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
/*    background: #000;
    width: 100%;
    height: 100vh;*/
}

.header nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 300;
}

.header nav a:hover {
    color: #c9a44c;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #666;
}

.menu-icon {
    width: 5%;
    height: 5%;
    cursor: pointer;
    color: white;
}

/* Menu ẩn bên phải */
.side-menu {
    position: fixed;
    top: 0;
    right: -250px; /* ẩn */
    width: 250px;
    height: 100%;
    background: #000;
    padding-top: 80px;
    transition: 0.3s;
}

/* Link trong menu */
.side-menu a {
    display: block;
    color: #b0b0b0;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 14px;
}

.side-menu a:hover {
    color: #c9a44c;
    background: #111;
}

/* Khi menu mở */
.side-menu.active {
    right: 0;
}
.logo-img {
    margin: 0px auto;
    width: 5%;
    height: 5%;
}

.hero {
    height: 90vh;
    background: url('../images/car1.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.hero h1 {
    font-size: 52px;
    font-weight: 700;
}

.hero p {
    color: #b0b0b0;
    margin-top: 10px;
}

.cars {
    padding: 60px;
}

.car-card {
    background: #111;
    padding: 20px;
    width: 300px;
}

.car-card img {
    width: 100%;
}

.car-card button {
    background: none;
    border: 1px solid #c9a44c;
    color: #c9a44c;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.car-card button:hover {
    background: #c9a44c;
    color: #000;
}